spring:
  application:
    name: identity-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
    defer-datasource-initialization: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASS:}
      timeout: ${REDIS_TIMEOUT:60000}
      client-type: lettuce
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms

  sql:
    init:
      mode: always

  jackson:
    time-zone: Asia/Ho_Chi_Minh

server:
  port: ${SERVER_PORT:8082}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

app:
  cors:
    allowed-origins: ${CORS_ORIGINS:http://localhost:5173}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
