server:
  port: 8084

spring:
  cloud:
    compatibility-verifier:
      enabled: false
  application:
    name: order-service
  datasource:
    url: ${DB_URL:}
    username: ${DB_USER:}
    password: ${DB_PASS:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc.time_zone: Asia/Ho_Chi_Minh

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: DEBUG
    org.springframework.http.converter: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    org.apache.http: DEBUG

product:
  reservation-base: http://localhost:8086/api/reservations
payment:
  base-url: http://localhost:8085/api/payments
